<!doctype html>
<html ng-app="SampleApp">
<head>
	<meta charset="utf-8">
	<title>ng-switch</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!--AngularJS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script src="app.js"></script>
</head>
<body ng-controller="SampleAppCtrl">

	<div class="container">
		Шаблон <select ng-model="mode" ng-options="item.display for item in options track by item.value"></select>

		<div ng-switch on="mode.value" style="margin-top: 20px;">

			<table class="table" ng-switch-when="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
				</thead>
				<tr ng-repeat="item in items">
					<td>{{item.name}}</td>
					<td>{{item.value}}</td>
				</tr>
			</table>

			<ul class="list-group" ng-switch-when="list">
				<li ng-repeat="item in items" class="list-group-item list-group-item-info">{{item.name}}:{{item.value}}</li>
			</ul>

			<ol class="list-group" ng-switch-when="budges">
				<li ng-repeat="item in items" class="list-group=item">
					<span class="badge">{{item.value}}</span>
					{{item.name}}
				</li>
			</ol>
		</div>
	</div>
</body>
</html>